doctype html
html
	head
		include parts/headtag.jade
	body
		main.wrapper
			section.container
				h3.title Welcome!!
				form(action='',method='post')
					fieldset
						label(for='column_number') 名列番号 例:(1EP1-99)
						input(type='text', name='column_number', value=column_number)
						label(for='studentid') 学籍番号 例:(1234567)
						input(type='text', name='studentid', value=studentid)
						label(for='name') 名前
							div
								label.label-inline(for='lastname_hiragana') 姓(ふりがな)
									input(type='text', name='lastname_hiragana', value=lastname_hiragana)
								label.label-inline(for='firstname_hiragana') 名(ふりがな)
									input(type='text', name='firstname_hiragana', value=firstname_hiragana)
							div
								label.label-inline(for='lastname_kanji') 姓(漢字)
									input(type='text', name='lastname_kanji', value=lastname_kanji)
								label.label-inline(for='firstname_kanji') 名(漢字)
									input(type='text', name='firstname_kanji', value=firstname_kanji)
						div
							input(type='checkbox', name='slack', checked=slack)
							label.label-inline(for='slack') Slackに参加する
						p(style="color:red;")!=error
						input.button-primary(type='submit',value='送信')
			footer.footer
				include parts/footertag.jade
